@(students: List[Student], studentForm: Form[Student])

@import helper._

@main("Todo list") {
    
    <h1>@students.size() students(s)</h1>
    
    <ul>
        @for(student <- students) {
            <li>
                @student.name
                @student.id
                @form(routes.HelloWorld.deleteStudent(student.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new Student</h2>
    
    @form(routes.HelloWorld.newStudent()) {
        
        @inputText(studentForm("name")) 
        
        <input type="submit" value="Create">
        
    }
    
}
